<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h1>Hi! My name is Pong. The friendly monitoring App.</h1>
{{ if .Count }}
<h2>I have pinged expeditions.com {{ .Count }} times</h2>
{{end}}
</body>
</html>
